<ion-view>
  <ion-nav-buttons side="primary">
    <button class="button button-clear" ng-click="$ctrl.promptExit()">
      LEAVE GAME
    </button>
  </ion-nav-buttons>
  <ion-scroll class="board-content" direction="xy">
    <div class="loading-indicator" ng-if="$ctrl.loading">
      <ion-spinner></ion-spinner>
    </div>

    <div class="row" ng-repeat="row in $ctrl.game.rows">
      <div class="col text-center grid-item" ng-class="col.class" ng-repeat="col in row.cols" ng-bind="col.value"></div>
    </div>

    <!--Just an error state-->
    <div class="card" ng-if="$ctrl.errorText">
      <div class="item text-center" ng-bind="$ctrl.errorText"></div>
    </div>
  </ion-scroll>
</ion-view>
