.board-content {
  display: flex;
}
.board-content .game-status-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #333;
  height: 40px;
}
.board-content .game-status-bar i {
  color: #FFF;
  font-size: 30px;
}
.board-content .row {
  padding: 0;
}
.board-content .grid-item {
  color: #FFF;
  width: 70px;
  height: 70px;
  background-color: #aaa;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
}
.board-content .grid-item.red     { background: #96281B; }
.board-content .grid-item.blue    { background: #336E7B; }
.board-content .grid-item.green   { background: #1E824C; }
.board-content .grid-item.purple  { background: #674172; }
.board-content .grid-item.yellow  { background: #F5AB35; }
.board-content .grid-item.black   { background: #333333; }
