<ion-view view-title="Strategery">
  <ion-content class="home-content limit-width">

    <div class="padding">
      <button class="button button-block button-positive" ng-click="$ctrl.modal.show()">CREATE A NEW GAME</button>
    </div>

    <br>

    <div class="list">
      <div class="text-center dark">JOIN AN EXISTING GAME</div>
      <div class="padding text-center" ng-repeat="game in $ctrl.games" ui-sref="board({id: game.$id})" on-hold="$ctrl.removeGame(game)">
        {{ game.name }}
        <i class="icon ion-chevron-right"></i>
      </div>
      <div class="text-center padding-top" ng-show="$ctrl.loading">
        <ion-spinner></ion-spinner>
      </div>
      <div class="text-center" ng-if="!$ctrl.loading && $ctrl.games.length === 0">No games to join :(</div>
    </div>

  </ion-content>
</ion-view>
